.dashboardContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.secondarySidebar {
    position: relative;
    height: 100%;
    width: 290px;
    background-color: #f4f5fa;
    border-right: 1px solid #ddd;
}

.secondarySidebar.closed {
    width: 2px;
}

.toggleButton {
    position: absolute;
    bottom: 16px;
    right: -12px;
    z-index: 1;
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    margin: 0;
}

.toggleButton:hover {
    background-color: #0275f0;
}

.toggleIcon {
    font-size: 14px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: #f4f5fa;
}

.contentBox {
    margin-left: 24px;
    margin-right: 24px;
    flex-grow: 1;
    background-color: #f4f5fa;
    margin-top: 34px;
    overflow: auto;
    overflow-x: hidden;
}

.contentBox::-webkit-scrollbar {
    display: none;
}

.formProviderBox {
    flex-grow: 1;
    background-color: #f4f5fa;
    margin-bottom: 24px;
    overflow: auto;
    overflow-x: hidden;
}

.formProviderBox::-webkit-scrollbar {
    display: none;
}
