.table-container {
  width: 100%;
  margin-top: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
  overflow: hidden;
}

.table-paper {
  width: 100%;
  box-shadow: none;
  overflow: hidden;
}

.styled-table-container {
   /* Set a fixed height or adjust as needed */
  overflow: auto; /* Enable scrolling in both directions */
  /* Hide scrollbars but keep functionality */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.styled-table-container::-webkit-scrollbar {
  display: none;
}

.table-header {
  font-weight: bold;
  padding-left: 0px;
}

.styled-row {
  height: 48px;
}

.styled-cell {
  padding: 0px;
}

.user-info {
  display: flex;
  align-items: center;
}

.avatar {
  width: 24px !important;
  height: 24px !important;
  margin-right: 8px;
}

.location-info {
  display: flex;
  align-items: center;
}

.location-icon {
  font-size: 18px !important;
  color: #707070;
  margin-right: 4px;
}

.status-active {
  background-color: #ebebeb;
  color: #000;
  border-radius: 15px;
  padding: 5px 10px;
  width: min-content;
}

.status-suspended {
  background-color: #ef6c00;
  color: #fff;
  border-radius: 15px;
  padding: 5px 10px;
  width: min-content;
}