/* Container */
.filterbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: initial; /* Resets text color to browser default (usually black) */
    font-style: initial; /* Resets font style to normal */
    background-color: white;
    height: auto;
    min-height: 52px !important;
    width: calc(100% - 33px);
    position: relative;
    padding: 16px;
    gap: 16px;
}

/* Profile Image Container */
.filterbar-profileImage {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.filterbar-avatar {
    width: 48;
    height: 48;
}

.edit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.filterbar-profileImage:hover .edit-overlay {
    opacity: 1;
}

.edit-icon {
    color: white;
    font-size: 24px;
}

/* Button Group Container */
.filterbar-grid {
    width: 279px;
    height: 40px;
    gap: 4px;
    display: flex;
    justify-content: space-between;
}
